.button {
  padding: 16px 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white);
  color: var(--black);
  border: 1px solid transparent;
  border-radius: 6px;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
}
