.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section-name-wrapper {
  display: flex;
  gap: 16px;
}

.name {
  color: #f3f3f3;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 0;
}

@media screen and (max-width: 719px) {
  .header-section-button {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .header-section {
    justify-content: space-between;
  }

  .header-section-button {
    display: block;
    text-decoration: none;
  }
}
