.star-item {
  position: absolute;
  border-radius: 50%;
  filter: blur(0.75px);
}

.star-small {
  width: 1px;
  height: 1px;
}

.star-medium {
  width: 2px;
  height: 2px;
}

.star-big {
  width: 3px;
  height: 3px;
}

.star-large {
  width: 4px;
  height: 4px;
}

.star-animation-short {
  animation: twinkle 2s infinite linear;
}

.star-animation-medium {
  animation: twinkle 7s infinite;
}

.star-animation-long {
  animation: twinkle 9s infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
