.myProjects-section-list-item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--charcoal-color);
}

.myProjects-section-list-item:nth-child(1) {
  background: linear-gradient(234deg, #302648 1.16%, rgba(42, 35, 60, 0) 100%);
}
.myProjects-section-list-item:nth-child(2) {
  background: linear-gradient(
    230deg,
    #302648 3.96%,
    rgba(42, 35, 60, 0) 99.85%
  );
}
.myProjects-section-list-item:nth-child(3) {
  background: linear-gradient(33deg, #2a233c 7.44%, #18171c 87.54%);
}
.myProjects-section-list-item:nth-child(4) {
  background: linear-gradient(64deg, #2a233c 1.07%, rgba(42, 35, 60, 0) 36.36%);
}

.myProjects-section-list-item-img-wrapper-inProgress {
  min-width: 100%;

  background: radial-gradient(var(--jaguar-color), white);
  border-radius: 16px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myProjects-section-list-item-img-wrapper {
  position: relative;
}

.myProjects-section-list-item-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.myProjects-section-list-item-overlay {
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: var(--transition);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: #fff;
  font-style: normal;
  line-height: normal;
}

.myProjects-section-list-item-header,
.myProjects-section-list-item-content {
  color: var(--white-smoke-color);
}

.myProjects-section-list-item-header {
  text-align: center;

  font-weight: 700;
}

.myProjects-section-list-item-content {
  text-align: center;
  margin-bottom: 0px;
}

.myProjects-section-list-item-button:hover
  + p
  + h3
  + .myProjects-section-list-item-img-wrapper
  > .myProjects-section-list-item-overlay,
.myProjects-section-list-item-button:active
  + p
  + h3
  + .myProjects-section-list-item-img-wrapper
  > .myProjects-section-list-item-overlay,
.myProjects-section-list-item-button:focus
  + p
  + h3
  + .myProjects-section-list-item-img-wrapper
  > .myProjects-section-list-item-overlay {
  opacity: 1;
}

.myProjects-section-list-item-button {
  width: 50%;
}

@media screen and (max-width: 719px) {
  .myProjects-section-list-item {
    padding: 12px 12px 24px 12px;
    margin: 0 20px;
  }
  .myProjects-section-list-item-img-wrapper {
    margin-bottom: 36px;
  }
  .myProjects-section-list-item-overlay {
    font-size: 24px;
  }
  .myProjects-section-list-item-header {
    font-size: 28px;
  }
  .myProjects-section-list-item-content {
    padding: 0 12px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
  .myProjects-section-list-item {
    padding: 12px 12px 32px 12px;
    margin: 0 88px;
  }
  .myProjects-section-list-item-img-wrapper {
    margin-bottom: 32px;
  }
  .myProjects-section-list-item-overlay {
    font-size: 28px;
  }
  .myProjects-section-list-item-header {
    font-size: 32px;
  }
  .myProjects-section-list-item-content {
    padding: 0 30px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .myProjects-section-list-item {
    padding: 20px 20px 24px 20px;
  }
  .myProjects-section-list-item-overlay {
    font-size: 24px;
  }
  .myProjects-section-list-item-header {
    font-size: 28px;
  }
  .myProjects-section-list-item-img-wrapper {
    margin-bottom: 24px;
  }
  .myProjects-section-list-item-content {
    margin-bottom: 24px;
    max-width: 490px;
    margin: 0 0 24px 0;
  }
}

@media screen and (max-width: 1919px) {
  .myProjects-section-list-item-header {
    margin-bottom: 12px;
  }
  .myProjects-section-list-item-content {
    font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {
  .myProjects-section-list-item {
    padding: 32px 32px 44px 32px;
  }

  .myProjects-section-list-item-img-wrapper {
    margin-bottom: 44px;
  }
  .myProjects-section-list-item-overlay {
    font-size: 40px;
  }
  .myProjects-section-list-item-header {
    font-size: 44px;

    margin-bottom: 16px;
  }

  .myProjects-section-list-item-content {
    font-size: 28px;
    margin-bottom: 44px;
  }
}
