@media screen and (max-width: 374px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 719px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1279px) {
  .container {
    padding-left: 88px;
    padding-right: 88px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1760px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1760px;
    margin: 0 auto;
  }
}
