@import './templates/all.css';
@import './templates/work.css';
@import './templates/about.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}

:root {
    /* Body */
    --body-bg: #0e0f10;
    --body-text: #ffffff;

    /* Buttons */
    --button-bg: #1c1d21;
    --button-color: #ffffff;
    --button-border: #a1a1a6;

    --button-hover-bg: #2d2f33;
    --button-hover-border: #7a5eff;

    --button-active-bg: #007bff;
    --button-active-color: #ffffff;
    --button-active-border: #007bff;
    --button-active-shadow: 0 0 10px rgba(0, 123, 255, 0.5);

    /* Cards */
    /* --card-bg: #212329;
    --card-color: #ffffff;
    --card-border: #343a40;

    --card-hover-bg: #2b2f38;
    --card-hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); */
    --card-bg: #1e1f26;
    /* Тёмно-серый фон с лёгким голубым оттенком */
    --card-hover-bg: #292a31;
    /* Фон при наведении чуть светлее */
    --card-color: #ffffff;
    /* Белый текст */
    --card-border: #2c2f36;
    /* Цвет границы карточек */
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Лёгкая тень */
    --card-hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    /* Тень при наведении */

    /* Icons */
    --icon-color: #ffffff;
    --icon-hover-color: #7a5eff;
}

html,
body {
    margin: 0;
    width: 100%;
    /* height: 100%; */
    /* background-color: black; */
    /* background-color: #0E0F10; */
    background-color: var(--body-bg);
    color: var(--body-text);
    font-family: 'Roboto', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}


p {
    margin-block-start: 0;
    margin-block-end: 0;
}



.card {
    background: var(--card-bg);
    color: var(--card-color);
    border: 1px solid var(--card-border);
    border-radius: 16px;
    padding: 24px;
    /* margin-bottom: 16px; */
    box-shadow: var(--card-shadow);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    background: var(--card-hover-bg);
    box-shadow: var(--card-hover-shadow);
}

.layout {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh; */
}

/* @media screen and (max-width: 768px) {
    .layout {
        max-width: ;
    }
    
} */