:root {
  --jaguar-color: #18171c; /* --black */
  --white-smoke-color: #f2f2f2; /* --white */
  --persian-red-color: #d32f2f; /* --red */
  --pink-swan-color: #b5b5b5;
  --charcoal-color: #444;
  --light-slate-blue: #7e5eff;
  --dark-slate-blue: #483888;
  --transition: all, cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  --white-opacity-05: rgba(255, 255, 255, 0.5);
  --gainsboro: #d9d9d9;
  --gainsboro-opacity-05: rgba(217, 217, 217, 0.5);
  --gainsboro-opacity-02: rgba(217, 217, 217, 0.2);
}
