.advantages-section {
  position: relative;
}
.advantages-list {
  position: relative;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  gap: 20px;
}

.advantages-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages-list-item-header {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--white-smoke-color);
}

.advantages-list-item-content {
  line-height: 140%;
  color: var(--white-smoke-color);
}

.advantages-list-item-content > span {
  font-weight: 700;
}

.advantages-list-item-header,
.advantages-list-item-content {
  text-align: center;
}

@media screen and (max-width: 719px) {
  .advantages-section {
    padding-top: 148px;
  }

  .advantages-list {
    gap: 40px;
  }

  .advantages-list-item {
    padding-top: 64px;
    padding-bottom: 68px;
  }

  .advantages-list-item-icon-wrapper {
    width: 130px;
    height: 130px;
    margin-bottom: 36px;
  }
  .advantages-list-item-header {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 719px) {
  .advantages-list-item {
    border-radius: 12px;
  }
}

@media screen and (min-width: 720px) {
  .advantages-list-item {
    border-radius: 16px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
  .advantages-section {
    padding-top: 394px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1279px) {
  .advantages-list {
    gap: 44px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .advantages-section {
    padding-top: 204px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .advantages-list {
    gap: 20px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1279px) {
  .advantages-list-item {
    position: relative;
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .advantages-list-item-icon-wrapper {
    width: 210px;
    height: 210px;
    opacity: 0.3;
  }
  .advantages-list-item-text-wrapper {
    position: absolute;
  }

  .advantages-list-item-header {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .advantages-list-item-content {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .advantages-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages-list-item {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .advantages-list-item-icon-wrapper {
    width: 140px;
    height: 140px;
    margin-bottom: 40px;
  }

  .advantages-list-item-header {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .advantages-list-item-content {
    font-size: 18px;
  }
}

@media screen and (max-width: 1919px) {
  .advantages-list-item {
    border: 1px solid var(--charcoal-color);
  }
}

@media screen and (min-width: 1920px) {
  .advantages-section {
    padding-top: 305px;
  }

  .advantages-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }

  .advantages-list-item {
    padding-top: 80px;
    padding-bottom: 130px;
    border: 2px solid var(--charcoal-color);
  }

  .advantages-list-item-icon-wrapper {
    width: 220px;
    height: 220px;
    margin-bottom: 80px;
  }
  .advantages-list-item-header {
    font-size: 44px;
    margin-bottom: 28px;
  }
  .advantages-list-item-content {
    font-size: 28px;
  }
}
